#version: "3.9"

services:
  api:
    build: .
    container_name: node-api
    ports:
      - "3000:3000"
    env_file:
      - .env
  redis:
    image: redis:7-alpine
    container_name: redis-container
    ports:
      - "6379:6379"
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - api

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3010:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml


  
volumes:
  grafana-data:

