#version: "3.9"

services:
  api:
    build: .
    container_name: node-api
    ports:
      - "3000:3000"
    env_file:
      - .env
  redis:
    image: redis:7-alpine
    container_name: redis-container
    ports:
      - "6379:6379"
  

  

