version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  # mongodb:
  #   image: mongodb/mongodb-community-server:8.0-ubi8
  #   container_name: mongodb
  #   ports:
  #     - "27017:27017"
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: admin
  #     MONGO_INITDB_ROOT_PASSWORD: admin@123
  #   volumes:
  #     - mongo_data:/data/db
  #   restart: always

volumes:
  redis_data:
 # mongo_data:
